@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-clear-day: #1565C0;
  --color-clear-night: #0D1B2A;
  --color-cloudy-day: #455A64;
  --color-cloudy-night: #263238;
  --color-rainy-day: #37474F;
  --color-rainy-night: #1A237E;
  --color-snowy-day: #ECEFF1;
  --color-snowy-night: #263238;
  --color-stormy-day: #311B92;
  --color-stormy-night: #1A237E;
}
